*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  height: 50vh;
  width: 100%;
  line-height: 50vh;
  text-align: center;
  border: 1px solid blue;
  background-color: pink;
  color: yellow;
}
h3{
  display: none;
  text-align: center;
  padding: 30px 0px;
  color: blue;
}


/* Ipad Pro */
/* @media only screen and (max-width: 1112px) {
  .iPad{
    display: block;
  }
  .iPhone{
    display: none;
  }
} */

/* Galaxy S9+, Iphone */
/* @media only screen and (max-width: 985px) {
  .iPhone{
    display: block;
  }
  .iPad{
    display: none;
  }
} */

/* Galaxy S9+ */
/* Portrait and Landscape */
@media screen
  and (device-width: 412px)
  and (device-height: 846px) {
    .galaxy{
      display: block;
    }
}

/* Portrait */
@media screen
  and (device-width: 412px)
  and (device-height: 846px)
  and (orientation: portrait) {
    .galaxy, .portrait{
      display: block;
    }
}

/* Landscape */
@media screen
  and (device-width: 846px)
  and (device-height: 412px)
  and (orientation: landscape) {
    .galaxy, .landscape{
      display: block;
    }
}
