*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  height: 50vh;
  width: 100%;
  line-height: 50vh;
  text-align: center;
  border: 1px solid red;
  background-color: lightblue;
  color: red;
}

@media only screen and (max-width: 1075px) {
  h1{

    border: 1px solid orange;
    background-color: yellow;
    color: red;
  }
}

@media only screen and (max-width: 950px) {
  h1{
    border: 1px solid blue;
    background-color: lightblue;
    color: darkblue;
  }
}
